{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Madem Ionuț</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/eu.jpg' %}" >
					<hr>
					<h4>Salut! sunt Ionuț</h4>
					<p>Sunt pasionat de programare, jocuri și lucrul în echipă </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Ești plictisit?</h4>
					<hr>
					<p>dwwwwwwwwww</p>

					<p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">

						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>

					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Experiența mea ca programator</h5>
					<hr>
					<p>Am absolvit cursul national python al școlii informale de IT.</p>
					<p>Am lucrat la diferite mici proiecte, cum ar fii: aplicatie de web scrapping pentru piese de hardware, diferite plugin-uri neoficiale pentru platforma socială Discord cum ar fi boți</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Cunoștințele mele</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, C++, APIs cum ar fii Weather map, Selenium.</p>
					<p>PS: Mă documentez despre machine learning ;).</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Cum învăț</h5>
					<hr>
					<p>Trial and Error, având uneori tendința de a mă juca prea în mult cod</p>

					<p>Învăț foarte repede orice, și nu îmi este greu să încerc lucruri noi</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Scopurile mele pe timp scurt</h5>
				<hr>
				<p>M-am decis să stăpanesc complet limbajul python în următoarele 3 luni</p>
				<p>Un alt lucru ar fii să mă angajez pentru a căpăta experiență</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>